<div class="profile-card">
  <div class="avatar-name">
    <img
      src="https://picsum.photos/seed/picsum/200/300"
      alt="avatar"
      class="profile-card__avatar"
    />
    <div class="profile-card__name">
      <strong>Райан Гослинг</strong>
      <span>ryan.gosling</span>
    </div>
  </div>

  <div class="profile-card__description">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
    assumenda hic quam? Ipsa quos voluptatibus ab. Dicta, assumenda.
    Consequuntur provident aut quas quisquam? Optio asperiores nobis est modi
    atque molestias.
  </div>

  <div class="profile-card__tags">
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">Typescript</div>
    <div class="skill-tag">Javascript</div>
    <div class="skill-tag">React</div>
    <div class="skill-tag">Frontend</div>
    <div class="skill-tag">CSS</div>
  </div>

  <div class="profile-card__action-btns">
    <button class="btn">Подписаться</button>
  </div>
</div>
