<form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1 class="h1">Вход</h1>

  <label class="tt-control-label mb16">
    Telegram username
    <input
      formControlName="username"
      type="text"
      class="tt-input"
      placeholder="Введите логин"
    />
  </label>

  <label class="tt-control-label mb16">
    Пароль
    <span class="password-input">
      <input
        formControlName="password"
        [type]="isPasswordVisible() ? 'text' : 'password'"
        class="tt-input"
        placeholder="Введите пароль"
      />
      <img
        class="password-eye-btn"
        src="/assets/svg/eye.svg"
        alt="eye"
        (click)="isPasswordVisible.set(!isPasswordVisible())"
      />
    </span>
  </label>

  <button class="btn btn-shadow" type="submit">Войти</button>
</form>

<img src="/assets/svg/login-bg.svg" alt="logo" />
